body {
}

.form-group {
    padding-left: 0;
}

.panel-body p {
    font-weight: bold;
}

#btnSave {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 45px;
}

#btnCancel {
    padding-right: 25px;
    padding-left: 25px;
}

#for-flex {
    display: flex;
    justify-content: normal;
    margin-top: 30px;
}

.input-validation-error {
    border-color: red;
}

.field-validation-error {
    color: red;
}

.typeahead {
    background-color: #fff;
}

    .typeahead:focus {
        border: 2px solid #0097cf;
    }

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 100%;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion p {
        margin: 0;
    }

.tt-container {
    position: relative;
}

.tt-input-group {
    width: 100%;
}

/*To fix textbox shrink due to display inline-block*/
span.twitter-typeahead {
    width: 100%;
}