@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
<div class="form-group">
    @Html.ActionLink("New Book", "New", "book", null, new { @class = "btn btn-primary btnNew" })
</div>
<table id="bookTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>ISBN</th>
            <th>Category</th>
            <th>Author name</th>
            <th>Publication</th>
            <th>Page Number</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section  scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#bookTable').DataTable({
                ajax: {
                    url: "/api/books",
                    dataSrc: ""
                },
                columns: [

                    {
                        data: "name",
                        render: function (data, type, book) {
                            return "<a href='/book/edit/" + book.id + "'>" + book.name + "</a>";
                        }
                    },
                    {
                        data: "isbn"
                    },
                    {
                        data: "category.name"
                    },
                    {
                        data: "author.name"

                    },
                    {
                        data: "publication.name"

                    },
                    {
                        data: "totalPage"

                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn-link js-delete' data-book-id = " + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $('#bookTable').on("click", ".js-delete", function myfunction() {
                var button = $(this);
                bootbox.confirm("Are you sure want to delete this book?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "api/books/" + button.attr("data-book-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }

                });

            });

        });
    </script>
}