@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
<table>
    <thead>ISBN</thead>
    <thead>Book Name</thead>
    <thead>Category</thead>
    <thead>Author</thead>
    <thead>Publication</thead>
    <thead>Page Number</thead>
</table>